<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <% if (user_id) { %>
        <div class="d-flex align-items-center">
          <a class="nav-item align-bar">Logged In As: <%= users[user_id].email %></a>
        </div>
        <form action="/logout" method="POST">
          <div>
            <button type="login" class="btn btn-primary" style="margin: 1em">LOGOUT</button>
          </div>
        </form>
      <% } else { %>
        <form action="/register" method="GET">
          <div>
            <button type="register" class="btn btn-primary margin: 1em">REGISTER</button>
          </div>
        </form>
        <form action="/login" method="GET">
          <div>
            <button type="login" class="btn btn-primary margin: 1em">LOGIN</button>
          </div>
        </form>
      <% } %>
    </div>
  </nav>
</header>